/* HEADER */

.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.header h1 {
  font-size: 32px;
}

/* CARS & COLORS */
.title {
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}
.bloc-option {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.option1,
.option2,
.option3,
.option4 {
  background-color: #efefef;
  color: black;
  width: 1030px;
  height: 56px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  margin-bottom: 10px;
  font-size: 20px;
}
.option h3 {
  font-size: 18px;
  font-weight: normal;
}
/* BUTTON */
.result-button {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.result-button h3 {
  font-size: 30px;
}

.button {
  background-color: #2d91e1;
  color: white;
  font-size: 24px;
  width: 95px;
  height: 40px;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  text-align: center;
  color: black;
  font-size: 15px;
  line-height: 18px;
  margin-top: 200px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}
